<!DOCTYPE html>

<head>
</head>

<body>
    <header>
        <% include ../include/header %>
    </header>
    <main role="main">
        <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active" data-interval="2000">
                    <img src="/images/gall.jpg" class="d-block w-100" alt="0" style="height: 40vh;">
                </div>
            </div>
        </div>

        <div class="album py-5">
            <div class="container">
                <div class="row">
                    <% for(var i = (g_num - 1) * max_value; i < g_num * max_value; i++){ %>
                        <% var data_value = result[i];
                            if(data_value === undefined){
                                continue;
                            }
                        %>
                        <div class="col-md-4" style="margin-bottom: 30px;">
                            <div class="card" style="border: solid 1px black;">
                                <a href="/gallery/detail/<%=data_value.gid%>">
                                    <img src="/images/<%= data_value.g_img%>" alt="" width="100%" height="300">
                                    <div class="card-body">
                                        <p class="card-text" style="color: black;"><%=data_value.g_title%></p><hr>
                                        <p class="card-text" style="color: black; text-align: right;"><%= dayjs(data_value.g_write_date).format('YYYY.MM'); %></p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    <% } %>
                </div>
                <div>
                    <nav>
                        <ul class="pagination justify-content-center mt-5">
                          <% if(g_num == 1) { %>
                              <li class="page-item"><a id="prev" class="page-link" style="color: black; display:none;" href="/gallery/<%=Number(g_num)-1%>">">이전</a></li>
                          <% } else if (g_num > 1) { %>
                              <li class="page-item"><a id="prev" class="page-link" style="color: black; display:block;" href="/gallery/<%=Number(g_num)-1%>">이전</a></li>
                          <% } %>
                          <% for(var j = 1; j<= Math.ceil(result.length / max_value); j++){ %>
                          <li class="page-item"><a class="page-link" style="color: black;" href="/gallery/<%= j %>"><%= j %></a>
                          <% } if(g_num == Math.ceil(result.length / max_value)) { %>
                              <li class="page-item"><a id="next" class="page-link" style="color: black; display:none;" href="/gallery/<%=Number(g_num)+1%>">다음</a></li>
                          <% } else if (g_num < Math.ceil(result.length / max_value)) { %>
                              <li class="page-item"><a id="next" class="page-link" style="color: black; display:block;" href="/gallery/<%=Number(g_num)+1%>">다음</a></li>
                          <% } %></ul>
                      </nav>
                  </div>
            </div>
        </div>
    </main>

    <footer>
        <% include ../include/footer %>
    </footer>
</body>

</html>