<!DOCTYPE html>

<head>
  <link href="https://cdn.discordapp.com/attachments/751431280519807068/800629207469785128/5g.png" rel="shortcut icon"
    type="images/x-icon">

  <style>
    .table-hover tbody tr {
      cursor: pointer;
    }
  </style>
</head>

<body>
  <header>
    <% include ../include/header %>
  </header>
  <%if(name != "관리자"){%>
    <script>
      alert('수정 권한이 없습니다.');
      history.back();
    </script>
  <%}%>
  <img src="/images/gall.jpg" class="img-fluid" style="width: 100%; height: 350px;" alt="...">
  <div class="container">
    <div class="row mt-5 mb-5">
      <div class="col-md-10">
        <form method="POST" name="form" class="d-inline" enctype="multipart/form-data" action="/gallery/update_data">
          <div class="text-center m-5">
            <h1>갤러리</h1>
            ITRC 사업단의 갤러리
          </div>
          <div class="border border-2 p-4">

            <h4><input type="text" name="gall_title" class="form-control" value="<%=result[0].g_title%>"></h4>
            <table class="table mt-2">
              <tbody class="align-middle">
                <tr>
                  <td>
                    번호 : <%= g_num %>
                  </td>
                  <td>
                    <span class="float-end">작성일자 : <%=dayjs(result[0].g_writer_date).format('YY.MM.DD'); %></span>
                  </td>
                </tr>
              </tbody>
            </table>
            <input type="file" accept="image/*" name="attachments" multiple required>
        </div>

          <div class="float-end mt-3">
            <input type="submit" class="btn btn-outline-dark" value="수정">
            <input type="hidden" name="titlex" value="<%= result[0].g_title%>" />
            <input type="hidden" name="imgx" value="<%= result[0].g_img%>" />
          </div>
        </form>
      </div>
    </div>
  </div>
  <footer>
    <% include ../include/footer %>
  </footer>
</body>

</html>