<!DOCTYPE html>
<head>
    <link href="https://cdn.discordapp.com/attachments/751431280519807068/800629207469785128/5g.png" rel="shortcut icon" type="images/x-icon">

    <style>
        .table-hover tbody tr{
            cursor: pointer;
        }
    </style>
</head>
<body>
    <header>
        <% include ../include/header %>
    </header>
    <div class="container">
        <div class="row mt-5 mb-5">
            <div class="col-md-2">
                <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li style="cursor: pointer;" class="breadcrumb-item" onclick="location.href='/research'">연구</li>
                        <li class="breadcrumb-item active" aria-current="page">연구과제</li>
                    </ol>
                </nav>
                <table class="table table-hover table-bordered text-center">
                    <tbody>
                        <tr onclick="location.href='/research'">
                            <td>연구과제</td>
                        </tr>
                        <tr onclick="location.href='/research/thesis'">
                            <td>학술논문</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-10">
                <div class="text-center m-5">
                    <h1>연구과제</h1>
                    5G 사업단 연구 과제
                </div>
                <table class="table table-hover text-center text-middle">
                    <thead class="align-middle">
                        <th width="5%">번호</th>
                        <th width="55%">연구과제명</th>
                        <th width="25%">기간</th>
                        <th width="15%">상태</th>
                    </thead>
                    <tbody class="align-middle">
                        <% for(var i = (r_num - 1) * max_value; i < r_num * max_value; i++){ %>
                            <% var data_value = result[i];
                            if(data_value === undefined){
                            continue;
                        }%>
                    <tr onclick="location.href='/research/detail/1'">
                      <td><%= data_value.title_ko%></td>
                      <td><%= data_value.academic_ko%></td>
                      <td><%= data_value.writer_ko%></td>
                      <td><%= dayjs(data_value.publish_date).format('YYYY년 MM월');%></td>
                    </tr>
                    <%}%>
                    </tbody>
                </table>
                <div>
                    <nav>
                      <ul class="pagination justify-content-center mt-5">
                        <% if(r_num == 1) { %>
                            <li class="page-item"><a id="prev" class="page-link" style="color: black; display:none;" href="/research/<%=Number(r_num)-1%>">">이전</a></li>
                        <% } else if (r_num > 1) { %>
                            <li class="page-item"><a id="prev" class="page-link" style="color: black; display:block;" href="/research/<%=Number(r_num)-1%>">이전</a></li>
                        <% } %>
                        <% for(var j = 1; j<= Math.ceil(result.length / max_value); j++){ %>
                        <li class="page-item"><a class="page-link" style="color: black;" href="/research/<%= j %>"><%= j %></a>
                        <% } if(r_num == Math.ceil(result.length / max_value)) { %>
                            <li class="page-item"><a id="next" class="page-link" style="color: black; display:none;" href="/research/<%=Number(r_num)+1%>">다음</a></li>
                        <% } else if (r_num < Math.ceil(result.length / max_value)) { %>
                            <li class="page-item"><a id="next" class="page-link" style="color: black; display:block;" href="/research/<%=Number(r_num)+1%>">다음</a></li>
                        <% } %></ul>
                    </nav>
                  </div>
            </div>
        </div>
    </div>
    <footer>
        <% include ../include/footer %>
    </footer>
</body>

</html>