<!DOCTYPE html>
<head>
    <link href="https://cdn.discordapp.com/attachments/751431280519807068/800629207469785128/5g.png" rel="shortcut icon" type="images/x-icon">

    <style>
        .table-hover tbody tr{
            cursor: pointer;
        }

        th{
            background-color: lightgray !important;
        }
    </style>
</head>

<body>
    <header>
        <% include ../include/header %>
    </header>
    <div>
        <img src="/images/paper.jpg" class="w-100" style="height: 400px;" alt="0">
    </div>
    <div class="container">
        <div class="row mt-5 mb-5">
            <% include ../include/research_nav %>
            <div class="col-lg-12 col-xl-10">
                <% include ../include/research_label %>
                <div class="border border-2 p-4">
                    <h4><%=result[0].registration_name%></h4>
                    <table class="table mt-2">
                        <tbody class="align-middle">
                            <tr>
                                <td>
                                   번호 : <%= s_num %>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="row mt-4">
                        <div class="col text-center">
                            <table class="table mx-auto table-bordered" style="width: 80%;">
                                <tbody>
                                    <tr>
                                        <th width="15%">사업연도</th>
                                        <td width="35%"><%=result[0].business_year%>년</td>
                                        <th width="15%">구분</th>
                                        <td width="35%"><%=result[0].division.slice(3,result[0].division.langth)%></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">등록 기관</th>
                                        <td colspan="3"><%=result[0].registration.slice(3,result[0].registration.langth)%></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">등록 번호</th>
                                        <td colspan="3"><%=result[0].registration_num%></td>
                                    </tr>
                                    <tr>
                                        <th>등록인</th>
                                        <td><%=result[0].registrant%></td>
                                        <th>등록일자</th>
                                        <td><%=dayjs(result[0].registration_date).format('YYYY.MM.DD');%></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">소유 여부</th>
                                        <td colspan="3"><%=result[0].own_not.slice(3,result[0].own_not.langth)%></td>
                                    </tr>
                                    <tr>
                                        <th scope="row" class="align-middle">특징</th>
                                        <td colspan="3"><div class="text-start"><%=result[0].feature%></div></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <% include ../include/footer %>
    </footer>
</body>
</html>