<!DOCTYPE html>
<head>
    <link href="https://cdn.discordapp.com/attachments/751431280519807068/800629207469785128/5g.png" rel="shortcut icon" type="images/x-icon">

    <style>
        .table-hover tbody tr{
            cursor: pointer;
        }

        th{
            background-color: lightgray !important;
        }
    </style>
</head>

<body>
    <header>
        <% include ../include/header %>
    </header>
    <div>
        <img src="/images/paper.jpg" class="w-100" style="height: 400px;" alt="0">
    </div>
    <div class="container">
        <div class="row mt-5 mb-5">
            <% include ../include/research_nav %>
            <div class="col-lg-12 col-xl-10">
                <% include ../include/research_label %>
                <div class="border border-2 p-4">
                    <h4><%=result[0].tech_name%></h4>
                    <table class="table mt-2">
                        <tbody class="align-middle">
                            <tr>
                                <td>
                                   번호 : <%= s_num %>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="row mt-4">
                        <div class="col text-center">
                            <table class="table mx-auto table-bordered align-middle" style="width: 80%;">
                                <tbody>
                                    <tr>
                                        <th>사업연도</th>
                                        <td><%=result[0].business_year%>년</td>
                                        <th>최초 기술실시<br>계약연도</th>
                                        <td><%=result[0].tech_year%>년</td>
                                        <th>기술실시<br>대상국가</th>
                                        <td><%=result[0].tech_country%></td>
                                    </tr>
                                    <tr>
                                        <th>계약 금액</th>
                                        <td><%=result[0].contract_amount%>원</td>
                                        <th>당해연도<br>징수액</th>
                                        <td><%=result[0].collection_amount%>원</td>
                                        <th>기술료 계약<br>체결일자</th>
                                        <td><%=result[0].techcontract_date%></td>
                                    </tr>
                                    <tr>
                                        <th>정부납부<br>기술료</th>
                                        <td><%=result[0].governmentPaymentTech_amount%></td>
                                        <th>연구개발성과<br>소유기관명</th>
                                        <td><%=result[0].RAI_name%></td>
                                        <th>연구개발성과<br>소유기관유형</th>
                                        <td><%=result[0].RAI_type.slice(3,result[0].RAI_type.length)%></td>
                                    </tr>
                                    <tr>
                                        <th>기술료<br>납부방식</th>
                                        <td><%=result[0].techFeePay_method.slice(3,result[0].techFeePay_method.length)%></td>
                                        <th>기술실시 방식</th>
                                        <td><%=result[0].TI_method.slice(3,result[0].TI_method.length)%></td>
                                        <th>기술실시<br>대상기관명</th>
                                        <td><%=result[0].TIinstitution_name%></td>
                                    </tr>
                                    <tr>
                                        <th>기술실시 내용</th>
                                        <td colspan="5"><%=result[0].TI_detail%></td>
                                    </tr>
                                    <tr>
                                        <th colspan="2">기술실시 대상기관<br>사업자등록번호</th>
                                        <td colspan="2"><%=result[0].TI_num%></td>
                                        <th>기술실시<br>대상기관 유형</th>
                                        <td><%=result[0].TI_type.slice(3,result[0].TI_type.length)%></td>
                                    </tr>
                                    <tr>
                                        <th>총 정부 출연금</th>
                                        <td colspan="2"><%=result[0].government_contribution%></td>
                                        <th>총 민간 연구비</th>
                                        <td colspan="2"><%=result[0].privateResearch_fund%></td>
                                    </tr>
                                    <tr>
                                        <th>기술이전 유형</th>
                                        <td><%=result[0].techTransfer_type.slice(3,result[0].techTransfer_type.length)%></td>
                                        <th>기술활용 형태</th>
                                        <td><%=result[0].techApplication_form.slice(2,result[0].techApplication_form.length)%></td>
                                        <th>기술이전 형식</th>
                                        <td><%=result[0].techTransfer_format.slice(3,result[0].techTransfer_format.length)%></td>
                                    </tr>
                                    <tr>
                                        <th>관련 지재권</th>
                                        <td colspan="5"><%=result[0].intellectualPropertyRights%></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <% include ../include/footer %>
    </footer>
</body>
</html>