<!DOCTYPE html>
<head>
    <link href="https://cdn.discordapp.com/attachments/751431280519807068/800629207469785128/5g.png" rel="shortcut icon" type="images/x-icon">

    <style>
        .container table tbody tr{
            cursor: pointer;
        }
    </style>
</head>
<body>
    <header>
        <% include ./include/header %>
    </header>
    <section>
        <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
            <ol class="carousel-indicators">
                <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"></li>
                <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"></li>
            </ol>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="./images/555.jpg" class="d-block w-100" style="height: 50vh;">
              </div>
              <div class="carousel-item">
                <img src="./images/gall.jpg" class="d-block w-100" style="height: 50vh;">
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </a>
        </div>
        <div class="container mt-3">
            <div class="row gx-5">
                <div class="col-lg">
                    <table class="table table-hover">
                        <thead class="align-middle">
                            <th width="20%">공지사항</th>
                            <th width="80%"><a href="/board/notice/1"><input type="button" class="btn btn-outline-dark float-end" value="+"></a></th>
                        </thead>
                        <tbody class="align-middle">
                            <% for(let i=0; i<3; i++){ %>
                                <%if(n_result[i] == undefined){%>
                                    <tr style="height: 117px;">
                                        <td colspan="2" class="text-center">다른 공지사항이 없습니다.</td>
                                    </tr>
                                    <%}else{%>
                                <tr onclick="location.href='/board/notice/detail/<%=n_result[i].nid%>'">
                                    <td>
                                        <img src="/images/loud-speaker.png" style="width: 100px; height: 100px;">
                                    </td>
                                    <td>
                                        <%=n_result[i].n_title%>
                                    </td>
                                </tr>
                                <%}%>
                            <%}%>
                        </tbody>
                    </table>
                </div>
                <div class="col-lg">
                    <table class="table table-hover">
                        <thead class="align-middle">
                            <th width="20%">논문</th>
                            <th width="80%"><a href="/research/thesis/1"><input type="button" class="btn btn-outline-dark  float-end" value="+"></a></th>
                        </thead>
                        <tbody class="align-middle">
                            <% for(let i=0; i<3; i++){ %>
                                <tr onclick="location.href='/research/thesis/detail/<%=r_result[i].tid%>'">
                                    <td>
                                        <img src="/images/thesis.png" style="width: 100px; height: 100px;">
                                    </td>
                                    <td>
                                        <%=r_result[i].thesis_name%>
                                    </td>
                                </tr>
                            <%}%>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="container mt-3 mb-3">
            <div class="row gx-5">
                <div class="col-lg">
                    <table class="table table-hover">
                        <thead class="align-middle">
                            <th width="20%">특허</th>
                            <th width="80%"><a href="/board/post/1"><input type="button" class="btn btn-outline-dark float-end" value="+"></a></th>
                        </thead>
                        <tbody class="align-middle">
                            <% for(let i=0; i<3; i++){ %>
                                <tr onclick="location.href='/board/post/detail/<%=p_result[i].lid%>'">
                                    <td>
                                        <img src="/images/license.png" style="width: 100px; height: 100px;">
                                    </td>
                                    <td>
                                        <%=p_result[i].invention_name%>
                                    </td>
                                </tr>
                            <%}%>
                        </tbody>
                    </table>
                </div>
                <div class="col-lg">
                    <table class="table table-hover">
                        <thead class="align-middle">
                            <th width="20%">갤러리</th>
                            <th width="80%"><a href="/gallery/1"><input type="button" class="btn btn-outline-dark float-end" value="+"></a></th>
                        </thead>
                        <tbody class="align-middle">
                            <% for(let i=0; i<3; i++){ %>
                                <tr onclick="location.href='/gallery/detail/<%=g_result[i].gid%>'">
                                    <td>
                                        <img class="rounded" src="/images/<%=g_result[i].g_img%>" style="width: 100px; height: 100px;">
                                    </td>
                                    <td>
                                        <%=g_result[i].g_title%>
                                    </td>
                                </tr>
                            <%}%>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
    <i class="bi bi-alarm-fill"></i>
    <footer>
        <% include ./include/footer %>
    </footer>
</body>
</html>