<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>ITRC member</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <style>
      @import url(/stylesheets/member.css);
   </style>
</head>

<body>
  <header>
    <% include ../include/header %>
  </header>
    <div>
      <img src="/images/555.jpg" alt="0" id="memberbanner">
    </div>
     
  <div class="fs-1 text-center">Introduce HCIC Member</div>
  <hr>
   <div class="container-xxl">
    <div class="row" align="center">
      <% for(let i= 0; i< result.length; i++){ %>
        <div class="col">
          <table id="hcicmember" class="hcictable border border-3 p-3 table table-hover"  data-bs-toggle="modal" data-bs-target="#uitmodal" data-name="<%=result[i].m_name%>" data-photo="<%=result[i].m_photo%>" data-group="<%=result[i].m_group%>"
            data-division="<%=result[i].m_division%>" data-univ="<%=result[i].m_univ%>" data-partdivision="<%=result[i].m_partdivision%>"
            data-position="<%=result[i].m_position%>" data-finalyear="<%=result[i].m_finalyear%>" data-finalmajor="<%=result[i].m_finalmajor%>"
            data-partperiod="<%=result[i].m_participationPeriod%>" data-partrate="<%=result[i].m_participationRate%>">
            <tr>
              <td class="p-3" style="width: 250px;">
                <img src="/images/member/<%=result[i].m_photo%>" width="200" height="200">
              </td>
              <th>
                <ul>
                  <span align="left" class="border-top border-dark fs-2"><%=result[i].m_name%></span>
                  <li><p><%=result[i].m_division%></p></li>
                  <li><p><%=result[i].m_univ%></p></li>
                  <li><p><%=result[i].m_group%></p></li>
                  <li><p><%=result[i].m_position%></p></li>
                </ul>
              </th>
            </tr>
          </table>
        </div>  
      <% } %>
    </div>
   </div>
 
  
  <div class="modal fade" id="uitmodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title"></h2>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" align="center">

          <table id="imtable">
            <tr>
              <td rowspan="3" class="phototable"">
                <img src="/images/member/noimg.jpg" alt="없음" id="imgmodal" class="fs-5" width="200" height="200">
              </td>
            </tr>
            <tr>
              <th id="namemodal" class="border-bottom border-dark fs-1"></th>
            </tr>
            <tr>
              <th>
                <ul>
                  <li id="univmodal" class="p-1"></li>
                  <li id="groupmodal" class="p-1"></li>
                  <li id="positionmodal" class="p-1"></li>
                </ul>
              </th>
            </tr>
          </table>
          <div id="career" class="fs-2 border-bottom border-dark text-start mb-3 mt-3">학력</div>
          <table id="careertable" class="table pt-3 text-center">
            <tbody>
              <tr>
                <td class="border-1 table-info">최종학위 년도</td>
                <th id="yearmodal" class="border-0"></th>
                <td class="border-1 table-info">최종학위 전공</td>
                <th id="majormodal" class="border-0"></th>
              </tr>
              <tr>
                <td class="border-1 table-info">참여기간</td>
                <th id="periodmodal" class="border-0"></th>
                <td class="border-1 table-info">참여율</td>
                <th id="ratemodal" class="border-0"></th>
              </tr>
            </tbody>
          </table>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <footer>
    <% include ../include/footer %>
  </footer>

</body>

<script>
 $('#uitmodal').on('show.bs.modal', function (event){
    var button = $(event.relatedTarget);
    var photo = button.data('photo');
    var univ = button.data('univ');
    var name = button.data('name');
    var group = button.data('group');
    var division = button.data('division');
    var partdivision = button.data('partdivision');

    var position = button.data('position');
    var finalyear = button.data('finalyear');
    var finalmajor = button.data('finalmajor');
    var partperiod = button.data('partperiod');
    var partrate = button.data('partrate');

    var modal=$(this)
    modal.find('.modal-title').text(division+" "+partdivision+" "+name);
    modal.find('.modal-body #imtable #namemodal').text(name);
    modal.find('.modal-body #imtable #univmodal').text("대학 : "+univ);
    modal.find('.modal-body #imtable #groupmodal').text("소속 : "+group);
    modal.find('.modal-body #imtable #positionmodal').text("직위(직급) : "+position);

    modal.find('.modal-body #careertable #yearmodal').text(finalyear+"년");
    modal.find('.modal-body #careertable #majormodal').text(finalmajor);
    modal.find('.modal-body #careertable #periodmodal').text(partperiod+"년");
    modal.find('.modal-body #careertable #ratemodal').text(partrate+"%");
    document.getElementById('imgmodal').src = ("/images/member/"+photo);
  });
</script>