<!DOCTYPE html>
<head>
    <link href="https://cdn.discordapp.com/attachments/751431280519807068/800629207469785128/5g.png" rel="shortcut icon" type="images/x-icon">

    <style>
        .table-hover tbody tr{
            cursor: pointer;
        }
    </style>
</head>
<body>
    <header>
        <% include ../include/header %>
    </header>
    <div class="container">
        <div class="row mt-5 mb-5">
            <div class="col-md-4">
                <div class="border border-2 p-3">
                    <h4>개인정보</h4>
                    <div class="row mt-4">
                        <div class="col">
                            <form method="POST" name="form">
                            <table class="table table-bordered border-dark" style="text-align:center">
                                <div class="mb-2 float-end pr-2" style="cursor: pointer;"</div>
                                <tr>
                                    <td>이름</td>
                                    <td><input type="text" name="profile_name"style="width:80%;" placeholder="이름" value="<%= result[0].u_name %>"></td>
                                </tr>
                                <tr>
                                    <td>전화번호</td>
                                    <td><input type="text" name="profile_phone"style="width:80%;" placeholder="전화번호" value="<%= result[0].u_phone %>"></td>
                                </tr>
                                <tr>
                                    <td>이메일</td>
                                    <td><input type="text" name="profile_email"style="width:80%;" placeholder="이메일" value="<%= result[0].u_email %>"></td>
                                </tr>
                                <tr style="text-align:right">
                                    <td colspan="2"><input type ="submit" value="수정 완료" onclick="form.action='/profile_update'"/></td>
                                <input type="hidden" name="namex" value="<%= result[0].u_name%>"/>
                                <input type="hidden" name="idx" value="<%= result[0].u_id%>"/>
                                <input type="hidden" name="phonex" value="<%= result[0].u_phone%>"/>
                                <input type="hidden" name="emailx" value="<%= result[0].u_email%>"/>
                                </tr>
                            </table>
                        </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  
</body>
</html>