<!DOCTYPE html>
<head>
    <link href="https://cdn.discordapp.com/attachments/751431280519807068/800629207469785128/5g.png" rel="shortcut icon" type="images/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" 
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"
        integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
        
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js"
        integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>

    <style>
        @font-face {
            font-family: 'NanumBarunGothic';
            font-style: normal;
            font-weight: 700;
            src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot');
            src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.ttf') format('truetype')
        }
        body{
            font-family: 'NanumBarunGothic';
        }
        table{
            border: 1px solid black;
        }
        #hello{
            font-size: 30px;
            height: 85px;
        }
        .table-hover tbody tr{
            cursor: pointer;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row mt-5 mb-5">
            <div class="col-md-4">
                <div class="border border-2 p-5">
                    <h4>개인정보</h4>
                    <div class="text-center">
                        <table class="table table-borderless">
                            <tr>
                                <td colspan="2" id="hello"><%= result[0].u_name %></td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    ID : <%=result[0].u_id%> <br> 
                                    TEL :<%=result[0].u_phone%> <br>
                                    E-mail : <%=result[0].u_email%> <br>
                                    Join Day : <%=dayjs(result[0].u_date).format('YYYY.MM.DD');%> <br>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="text-end">
                        <input type ="button" class="btn btn-secondary" value="수정" onclick="location.href='/profile_update'"/>
                        <input type ="button" class="btn btn-secondary" value="비밀번호 수정" onclick="location.href='/profile_password'"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
