<!DOCTYPE html>
<html>

<head>
  <link href="https://cdn.discordapp.com/attachments/751431280519807068/800629207469785128/5g.png" rel="shortcut icon"
    type="images/x-icon">

  <style>
    .table-hover tbody tr {
      cursor: pointer;
    }
  </style>

  <style>
    @import url(/stylesheets/board.css);
  </style>
</head>

<body>
  <header>
    <% include ../include/header %>
  </header>
  <img src="/images/gall.jpg" class="img-fluid" style="width: 100%; height: 350px;" alt="...">
  <div class="container">
    <div class="row mt-5 mb-5">
      <div class="col-md-2">
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li style="cursor: pointer;" class="breadcrumb-item" onclick="location.href='/board/notice/1'">게시판</li>
            <li class="breadcrumb-item active" aria-current="page">정보 게시판</li>
          </ol>
        </nav>
        <table class="table table-hover table-bordered text-center">
          <tbody>
            <tr onclick="location.href='/board/notice/1'">
              <td>공지사항</td>
            </tr>
            <tr onclick="location.href='/board/post/1'">
              <td>정보 게시판</td>
            </tr>
            <tr onclick="location.href='/board/question/1'">
              <td>Q&A</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-10">
        <div class="text-center m-5">
          <h1>Q&A</h1>
          5G 사업단 질의응답 게시판
        </div>
        <table class="table table-hover text-center text-middle">
          <thead class="align-middle">
            <th width="5%">번호</th>
            <th width="60%">제목</th>
            <th width="10%">작성자</th>
            <th width="5%">작성<br>날짜</th>
            <th width="10%">조회수</th>
          </thead>
          <tbody class="align-middle">
            <% for(var i=(p_num - 1) * max_value; i < p_num * max_value; i++){ %>
              <% var data_value=result[i]; if(data_value===undefined){ continue; } %>
                <tr onclick="location.href='/board/post/detail/<%= data_value.pid %>'">
                  <th class="text-center">
                    <%= i+1 %>
                  </th>
                  <td class="text-start">
                    <%= data_value.p_title %>
                  </td>
                  <td class="text-center">
                    <%= data_value.p_writer %>
                  </td>
                  <td class="text-center">
                    <%= dayjs(data_value.p_writer_date).format('YYYY.MM.DD');%>
                  </td>
                  <td class="text-center">
                    <%= data_value.p_view %>
                  </td>
                </tr>
                <% } %>
          </tbody>
        </table>
        <div class="text-center">
          <input type="button" class="btn" onclick="location.href='/board/post/1'" value="<">
          <% for(var i=1; i<=Math.ceil(result.length / max_value); i++){ %>
            <input onclick="location.href='/board/post/<%=i%>'" type="button" class="btn" value="<%=i%>">
            <%}%>
              <input type="button" class="btn"
                onclick="location.href='/board/post/<%=Math.ceil(result.length / max_value)%>'" value=">">
        </div>
      </div>
    </div>
  </div>
  <footer class="footer mt-auto">
    <% include ../include/footer %>
  </footer>
</body>

</html>