<!DOCTYPE html>

<head>
    <link href="https://cdn.discordapp.com/attachments/751431280519807068/800629207469785128/5g.png" rel="shortcut icon"
        type="images/x-icon">

    <style>
        .table-hover tbody tr {
            cursor: pointer;
        }
    </style>
</head>

<body>
    <header>
        <% include ../include/header %>
    </header>
    <img src="/images/gall.jpg" class="img-fluid" style="width: 100%; height: 350px;" alt="...">
    <div class="container">
        <div class="row mt-5 mb-5">
            <div class="col-md-2">
                <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li style="cursor: pointer;" class="breadcrumb-item" onclick="location.href='/board/notice/1'">
                            게시판</li>
                        <li class="breadcrumb-item active" aria-current="page">정보 게시판</li>
                    </ol>
                </nav>
                <table class="table table-hover table-bordered text-center">
                    <tbody>
                        <tr onclick="location.href='/board/notice/1'">
                            <td>공지사항</td>
                        </tr>
                        <tr onclick="location.href='/board/post/1'">
                            <td>정보 게시판</td>
                        </tr>
                        <tr onclick="location.href='/board/question/1'">
                            <td>Q&A</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-10">
                <div class="text-center m-5">
                    <h1>정보 게시판</h1>
                    5G 사업단 다양한 정보 게시판
                </div>
                <div class="border border-2 p-4">
                    <h4>
                        <%= result[0].p_title %>
                    </h4>
                    <table class="table mt-2">
                        <tbody class="align-middle">
                            <tr>
                                <td>
                                    번호 : <%= p_num %>
                                </td>
                                <td>
                                    <span class="float-end">작성자 : <%= result[0].p_writer %> &nbsp; 작성일자 : <%=
                                                dayjs(result[0].p_writer_date).format('YY.MM.DD'); %></span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <%= result[0].p_content %>
                </div>

                <div class="float-end mt-3">
                    <button class="btn btn-outline-dark" onclick="location.href='/board/post/1'">목록</button>
                    <%if(name == result[0].p_writer){%>
                        <button class="btn btn-outline-dark"
                            onclick="location.href='/board/post/update/<%=p_num%>'">수정</button>
                        <form method="POST" name="form" class="d-inline">
                            <button type="submit" class="btn btn-outline-dark"
                                onclick="form.action='/board/post/delete'">삭제</button>
                            <input type="hidden" name="pidx" value="<%= result[0].pid%>"/>
                            <input type="hidden" name="titlex" value="<%= result[0].p_title%>" />
                            <input type="hidden" name="writerx" value="<%= result[0].p_writer%>" />
                            <input type="hidden" name="contentx" value="<%= result[0].p_content%>" />
                        </form>
                        <%}%>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <% include ../include/footer %>
    </footer>
</body>

</html>