<!DOCTYPE html>
<html>

<head>
  <link href="https://cdn.discordapp.com/attachments/751431280519807068/800629207469785128/5g.png" rel="shortcut icon"
    type="images/x-icon">

  <style>
    .table-hover tbody tr {
      cursor: pointer;
    }
  </style>

</head>

<body>
  <header>
    <% include ../include/header %>
  </header>
  <img src="/images/gall.jpg" class="img-fluid" style="width: 100%; height: 350px;" alt="...">
  <div class="container">
    <div class="row mt-5 mb-5">
      <div class="col-md-2">
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li style="cursor: pointer;" class="breadcrumb-item" onclick="location.href='/board/notice/1'">게시판</li>
            <li class="breadcrumb-item active" aria-current="page">정보 게시판</li>
          </ol>
        </nav>
        <table class="table table-hover table-bordered text-center">
          <tbody>
            <tr onclick="location.href='/board/notice/1'">
              <td>공지사항</td>
            </tr>
            <tr onclick="location.href='/board/post/1'">
              <td>정보 게시판</td>
            </tr>
            <tr onclick="location.href='/board/question/1'">
              <td>Q&A</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-10">
        <div class="text-center m-5">
          <h1>정보 게시판</h1>
          5G 사업단 다양한 정보 게시판
        </div>
        <table class="table table-hover text-center text-middle">
          <thead class="align-middle">
            <th width="5%">번호</th>
            <th width="65%">제목</th>
            <th width="10%">작성자</th>
            <th width="10%">작성<br>날짜</th>
            <th width="10%">조회수</th>
          </thead>
          <tbody class="align-middle">
            <% for(var i=(p_num - 1) * max_value; i < p_num * max_value; i++){ %>
              <% var data_value=result[i]; if(data_value===undefined){ continue; } %>
                <tr onclick="location.href='/board/post/detail/<%= data_value.pid %>'">
                  <th class="text-center">
                    <%=result.length-i %>
                  </th>
                  <td class="text-start">
                    <%= data_value.p_title %>
                  </td>
                  <td class="text-center">
                    <%= data_value.p_writer %>
                  </td>
                  <td class="text-center">
                    <%= dayjs(data_value.p_writer_date).format('YYYY.MM.DD');%>
                  </td>
                  <td class="text-center">
                    <%= data_value.p_view %>
                  </td>
                </tr>
                <% } %>
              </tbody>
            </table>
          <div>
            <div class="text-center">
              <%if(name != null){%>
                <button class="btn btn-outline-dark float-end" onclick="location.href='/board/post_write'">작성</button><br>
              <%}%>
            </div>
            <nav>
              <ul class="pagination justify-content-center mt-5">
                <% if(p_num == 1) { %>
                    <li class="page-item"><a id="prev" class="page-link" style="color: black; display:none;" href="/board/post/<%=Number(p_num)-1%>">">이전</a></li>
                <% } else if (p_num > 1) { %>
                    <li class="page-item"><a id="prev" class="page-link" style="color: black; display:block;" href="/board/post/<%=Number(p_num)-1%>">이전</a></li>
                <% } %>
                <% for(var j = 1; j<= Math.ceil(result.length / max_value); j++){ %>
                  <%if(j != p_num){%>
                    <li class="page-item"><a class="page-link" style="color: black;" href="/board/post/<%= j %>"><%= j %></a>
                  <%}else{%>
                    <li class="page-item"><a class="page-link" style="color: black; background-color: #c8c8c8;" href="/board/post/<%= j %>"><%= j %></a>
                  <%}%>
                <% } if(p_num == Math.ceil(result.length / max_value)) { %>
                    <li class="page-item"><a id="next" class="page-link" style="color: black; display:none;" href="/board/post/<%=Number(p_num)+1%>">다음</a></li>
                <% } else if (p_num < Math.ceil(result.length / max_value)) { %>
                    <li class="page-item"><a id="next" class="page-link" style="color: black; display:block;" href="/board/post/<%=Number(p_num)+1%>">다음</a></li>
                <% } %></ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer class="footer mt-auto">
    <% include ../include/footer %>
  </footer>
</body>

</html>