<!DOCTYPE html>

<head>
  <link href="https://cdn.discordapp.com/attachments/751431280519807068/800629207469785128/5g.png" rel="shortcut icon"
    type="images/x-icon">

  <style>
    .table-hover tbody tr {
      cursor: pointer;
    }
  </style>
</head>

<body>
  <header>
    <% include ../include/header %>
  </header>
  <%if(name != result[0].q_writer){%>
    <script>
      alert('수정 권한이 없습니다.');
      history.back();
    </script>
  <%}%>
  <div>
    <img src="/images/news.jpg" class="w-100" style="height: 400px;" alt="0">
  </div>
  <div class="container">
    <div class="row mt-5 mb-5">
      <div class="col-md-2">
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li style="cursor: pointer;" class="breadcrumb-item" onclick="location.href='/board/notice/1'">
              게시판</li>
            <li class="breadcrumb-item active" aria-current="page">Q&A</li>
          </ol>
        </nav>
        <table class="table table-hover table-bordered text-center">
          <tbody>
            <tr onclick="location.href='/board/notice/1'">
              <td>공지사항</td>
            </tr>
            <tr onclick="location.href='/board/post/1'">
              <td>정보 게시판</td>
            </tr>
            <tr onclick="location.href='/board/question/1'">
              <td>Q&A</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-10">
        <form method="POST" name="form" class="d-inline" action="/board/question/update_data">
          <div class="text-center m-5">
            <h1>Q&A</h1>
            5G 사업단 질의응답 게시판
          </div>
          <div class="border border-2 p-4">

            <h4><input type="text" name="ques_title" class="form-control" value="<%=result[0].q_title%>"></h4>
            <table class="table mt-2">
              <tbody class="align-middle">
                <tr>
                  <td>
                    번호 : <%= q_num %>
                  </td>
                  <td>
                    <span class="float-end">작성자 : <%= result[0].q_writer %> &nbsp; 작성일자 : <%=
                          dayjs(result[0].q_writer_date).format('YY.MM.DD'); %></span>
                  </td>
                </tr>
              </tbody>
            </table>
            <textarea type="text" style="height: 400px; resize: none;" name="ques_content" class="form-control"><%= result[0].q_content%></textarea>
          </div>

          <div class="float-end mt-3">
            <input type="submit" class="btn btn-outline-dark" value="저장">
            <input type="hidden" name="titlex" value="<%= result[0].q_title%>" />
            <input type="hidden" name="writerx" value="<%= result[0].q_writer%>" />
            <input type="hidden" name="contentx" value="<%= result[0].q_content%>" />
          </div>
        </form>
      </div>
    </div>
  </div>
  <footer>
    <% include ../include/footer %>
  </footer>
</body>

</html>